.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height:500px;
    width:400px;
    border-radius:10px;
    margin-top: 100px;
    margin-left:550px;
    box-shadow: 2px 2px 4px #000;
    background: #c7c006;
    background: linear-gradient(134deg, rgba(199, 192, 6, 1) 0%, rgba(234, 237, 24, 1) 35%, rgba(176, 199, 24, 1) 100%);
}
.inp{
    margin-bottom:60px;
    width:350px;
    height:70px;
    border-radius:30px;
    font-size:30px;
}
.buttons{
    height:800px;
    width:90%;
    padding-bottom:90px;
    padding-top:90px;

}
button{
    width:75px;
    height:75px;
    margin:5px;
    border-radius:200px;
    background-color:black;
    box-shadow:2px 2px 5px #888888 ;
    color:white;
    font-size:20px;
}
button:hover{
    background-color:white;
    box-shadow: 2px 2px 5px turquoise;
    border-color: dimgray;
    color:black;
}